<!DOCTYPE html>

<html>
  <head>
    <title> Name Classifier!!!</title>
  </head>
  <body>
    <h1> {{title}} </h1>
    <br>
    <div class="main-content">
      <p class='main-text'> Enter your name </p>
      <form method='post' enctype="multipart/form-data" action='/upload'>
        <!-- <input class='search-field' id='first-name' type='text' placeholder='Enter first name'>
        <input class='search-field' id='last-name' type='text' placeholder='Enter last name'>
        <button class='search-btn'> Search </button> -->
        <input type="file" name="file">
        <input type="submit" value="Submit">
      </form>
      <p id='result'></p>
    </div>
    <img src='../../public/img/image.png'>
    <script type="text/javascript" src="./scripts/script.js"></script>
  </body>
</html>
